 $h1:rem(36px);
 $h2:rem(32px);
 $h3:rem(30px);
 $h4:rem(28px);
 $h5:rem(26px);
 $h6:rem(24px);
 $green:rgb(35, 205, 119);
 $gray240:rgb(240, 240, 240);
 $gray102:rgb(102, 102, 102);
 $red255:rgb(255, 76, 76);
 $blue76:rgb(76, 195, 255);
